<div class="auth-container">
    <h1>Login to Movie Store</h1>
    <form class="login-form" action="#" method="post" ng-submit="login.doLogin()">
        <fieldset>
            <input placeholder="Login" type="text" ng-model="login" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input placeholder="Password" type="text" ng-model="password" tabindex="2" required>
        </fieldset>
        <fieldset>
            <button name="login" type="submit" data-submit="...login">Login</button>
            <a href="#">Forgot password?</a>
        </fieldset>
    </form>
</div>