<div class="container">
    <div class="content">
        <div class="search-row">
            <div class="breadcrumbs"><ui-breadcrumbs displayname-property="data.displayName"></ui-breadcrumbs></div>
            <div class="search">
                <form ng-submit="movie.Search(searchPhrase)">
                    <input type="text" ng-model="searchPhrase" placeholder="Search movie">
                </form>
            </div>
        </div>
        <div class="content-block">
            <div><p><img ng-src="{{movie.data.Poster}}"></p></div>
            <div><h1 ng-bind="movie.data.Title"></h1></div>
            <div ng-if="isAuthenticated">
                <button ng-if="!movie.isMovieInWatchlist()" ng-click="movie.addMovieToWatchList()">Add</button>
                <button ng-if="movie.isMovieInWatchlist()" ng-click="movie.removeMovieFromWatchList()">Add</button>
            </div>
        </div>
    </div>
</div>