.profile-container {
    padding-top: 20px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profile-photo {
    padding-right: 50px;
}

.profile-data {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #3f444e;
}

.profile-data span{
    font-size: 16px;
    font-weight: 600;
}

.profile-data button {
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    outline: none;
    border: none;
    transform: scale(1);
}

.profile-data button:hover {
    box-shadow: 0 0 10px #000000;
    z-index: 3;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.edit-profile {
    background: #008CBA;
}

.delete-profile {
    background: #d8232a;
}

.watch-list {
    max-width: 1000px;
    margin: 20px auto 0 auto;
}

.watch-list h2 {
    font-size: 18px;
    font-weight: 700;
    color: #3f444e;
}

.watch-list-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

.watch-list-table td, .watch-list-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.watch-list-table tr:nth-child(even){
    background-color: #f2f2f2;
}

.watch-list-table tr:hover {
    background-color: #ddd;
}

.watch-list-table th {
    padding: 12px 0;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

/*arrow on userpage*/
.sort-order:after {
    content: '\25b2';
}
.sort-order.reverse:after {
    content: '\25bc';
}








































