.profile-container {
    padding-top: 20px;
    background-color: #edeff0;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profile-photo {
    padding-right: 50px;
}

.profile-data {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #3f444e;
}

.profile-data span{
    font-size: 16px;
    font-weight: 600;
}

.profile-data button {
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    outline: none;
    border: none;
    transform: scale(1);
}

.profile-data button:hover {
    box-shadow: 0 0 10px #000000;
    z-index: 3;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.addmovie-profile {
    background: #008CBA;
}

.watch-list {
    max-width: 1000px;
    margin: 20px auto 0 auto;
}

.profile-search {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.watch-list h2 {
    font-size: 18px;
    font-weight: 700;
    color: #3f444e;
}

.watch-list-table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
    color: #3f444e;
}

.watch-list-table td, .watch-list-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.watch-list-table tr:nth-child(even){
    background-color: #f2f2f2;
}

.watch-list-table tr:hover {
    background-color: #ddd;
}

.watch-list-table th {
     padding: 12px 0;
     background-color: #4CAF50;
     color: white;
     cursor: pointer;
}

.watch-list-table button {
    padding: 0 10px;
    border-radius: 4px;
    background-color: #d8232a;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}

.watch-list-table button:hover {
    background-color: #751c1f;
}

.watch-list-table a {
    color: #3f444e;
    text-decoration: none;
}

.watch-list-table a:hover {
    text-decoration: underline;
}

.sort-order:after {
    content: '\25b2';
}
.sort-order.reverse:after {
    content: '\25bc';
}

@media only screen and (max-width : 480px) {
    .profile-photo {
        padding: 0 10px;
    }

    .profile-data {
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
    }

    .profile-data span{
        font-size: 14px;
        font-weight: 400;
    }

    .watch-list {
        margin: 10px 5px;
    }

    .watch-list h2 {
        font-size: 16px;
        padding: 0 10px;
    }

    .watch-list-table th:nth-child(4) {
        display: none;
    }

    .watch-list-table td:nth-child(4) {
        display: none;
    }

    .watch-list-table th {
        padding: 12px 5px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .profile-photo {
        padding: 0 10px;
    }

    .watch-list {
        margin: 10px 5px;
    }

    .watch-list h2 {
        font-size: 16px;
        padding: 0 10px;
    }

    .watch-list-table th:nth-child(4) {
        display: none;
    }

    .watch-list-table td:nth-child(4) {
        display: none;
    }

    .watch-list-table th {
        padding: 12px 5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .watch-list {
        margin: 10px 5px;
    }
}






































