<div class="profile-container">
            <div class="profile">
                <div class="profile-photo"><img src="../../assets/img/user.png" alt=""></div>
                <div class="profile-data">
                    <div class="profile-login">Login: <span ng-bind="user.profile.login"></span></div>
                    <div class="profile-name">Name: <span ng-bind="user.profile.name"></span></div>
                    <div class="profile-email">E-mail: <span ng-bind="user.profile.email"></span></div>
                    <a ui-sref="add-movie"><button class="addmovie-profile">Add movie to store</button></a>
                    <!--<button class="delete-profile">Delete profile</button>-->
                </div>
            </div>
            <div class="watch-list">
                <h2>Your WatchList:</h2>
                <form>
                    <input class="profile-search" type="text" ng-model="searchKeyword" placeholder="Search">
                </form>
                <table class="watch-list-table">
                    <tr>
                        <th>#</th>
                        <th ng-click="user.orderByMe('Title')">Movie<span class="sort-order" ng-show="user.propertyName === 'Title'" ng-class="{reverse: user.reverse}"></span></th>
                        <th ng-click="user.orderByMe('Year')">Year<span class="sort-order" ng-show="user.propertyName === 'Year'" ng-class="{reverse: user.reverse}"></span></th>
                        <th ng-click="user.orderByMe('Type')">Type<span class="sort-order" ng-show="user.propertyName === 'Type'" ng-class="{reverse: user.reverse}"></span></th>
                        <th ng-click="user.orderByMe('imdbRating')">Raiting<span class="sort-order" ng-show="user.propertyName === 'imdbRating'" ng-class="{reverse: user.reverse}"></span></th>
                        <th>Delete</th>
                    </tr>
                    <tr ng-repeat="movie in user.watchlist | orderBy: user.myOrderBy | filter: searchKeyword">
                        <td ng-bind="$index + 1"></td>
                        <td><a ng-bind="movie.Title" ui-sref="movie({ movie_id: movie._id })"></a></td>
                        <td ng-bind="movie.Year"></td>
                        <td ng-bind="movie.Type"></td>
                        <td ng-bind="movie.imdbRating"></td>
                        <td><button ng-click="user.removeMovieFromWatchList(movie._id)">-</button></td>
                    </tr>
                </table>
            </div>
</div>

