.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: #ffffff;
    width: 100%;
}

.main-fixed {
    padding-top: 80px;
}

.movie-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.filter {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 2;
    font-family: Calibri, sans-serif;
}

.filter-position {
    flex-basis: 10%;
    min-width: 170px;
}

.hidden-filter-ticker {
    display: none;
}

.filter-title{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 1px solid #a8aaaf;
}

.filter-item {
    position: relative;
    margin-bottom: 1px;
    max-width: 130px;
    overflow: hidden;
}

.filter-subitem {
    display: inline-block;
    font-size: 16px;
}

.filter-button {
    float: right;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background: #008CBA;
    color: #FFF;
    margin: 10px 5px;
    padding: 8px;
    font-size: 15px;
    outline: none;
}

.filter-button:hover {
    background: #006b96;
}

.input-tab {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.label-tab {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    font-weight: bold;
    line-height: 40px;
    cursor: pointer;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    padding-left: 20px;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

/* :checked */
.filter-item input:checked ~ .tab-content {
    max-height: 10em;
}
/* Icon */
.filter-item label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.filter-item input[type=checkbox] + label::after {
    content: "+";
}
.filter-item input[type=radio] + label::after {
    content: "\25BC";
}
.filter-item input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}
.filter-item input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}

.content {
    flex-basis: 90%;
    border-left: 1px solid #a8aaaf;
}

.search-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 10px 50px;
}

.search input{
    padding-top: 10px;
    min-width: 20em;
    outline: none;
    border: none;
    border-bottom: 1px solid #cbcdd0;
    background-color: inherit;
    line-height: 30px;
    font-size: 16px;
    color: #989ca4;
    font-family: Calibri, sans-serif;
    font-style: oblique;
}

.search form:after {
    content: '';
    width: 15px; height: 16px;
    background: url("../../assets/img/css_sprites.png") -249px -250px;
    margin: 0 3px;
    left: 0;
    top: 3px;
    padding-right: 5px;
    position: relative;
    display: inline-block;
}

.breadcrumbs {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-style: oblique;
    color: #989ca4;
}

.breadcrumbs a {
    text-decoration: none;
    color: #505050;
    font-weight: 700;
}

.sort {
    padding-right: 60px;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #989ca4;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-right: 10px;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    font-size: 16px;
    background-color: #d8232a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid;
    border-color: transparent transparent #d8232a transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.content-block {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
}

.movie-block{
    position: relative;
    max-width: 250px;
    margin: 10px;
}

.movie-text {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    top: 0;
    height: 40px;
    width: 100%;
}

.poster-img {
    border-radius: 6px;
    cursor: pointer;
    width: 250px;
    height: 395px;
}

.icon:before {
    content: '';
    margin: 0 3px;
    left: 0;
    top: 3px;
    padding-right: 5px;
    position: relative;
    display: inline-block;
}

.movie-like {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    color: white;
    font-weight: 700
}

.movie-like:before {
    content: '';
    position: relative;
    display: inline-block;
    width: 16px; height: 13px;
    background: url("../../assets/img/css_sprites.png") -163px -329px;
}

.movie-download {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: white;
    font-weight: 700;
}

.movie-download:before {
    width: 15px; height: 15px;
    background: url("../../assets/img/css_sprites.png") -284px -250px;
}

.movie-title {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
}

.movie-title a {
    color: #505050;
    text-decoration: none;
}

.movie-title a:hover {
    text-decoration: underline;
}

.movie-title p {
    color: #989ca4;
}

.pagination {
    display: flex;
    justify-content: center;
    color: #989ca4;
}

.pagination button {
    background: none;
    float: left;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin: 5px;
}

.pagination p {
    float: left;
    padding: 10px 16px;
}

.pagination button.active {
    color: white;
    border-radius: 5px;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.footer-none {
    display: none;
}

@media only screen and (max-width : 480px) {

    .main-fixed {
        padding-top: 60px;
    }

    .filter-position {
        display: block;
        position: fixed;
        list-style:none;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        width: 170px;
        background-color: #d4d6d7;
        height: 100%;
        top: 50px;
        left: -170px;
        transition: left .2s;
        z-index: 2;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .hidden-filter-ticker {
        display: none;
    }

    .filter-btn-menu {
        color: #fff;
        background-color: #edeff0;
        padding: 2px;
        position: fixed;
        top: 60px;
        left: 5px;
        cursor: pointer;
        transition: left .23s;
        z-index: 3;
        width: 20px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .filter-btn-menu span {
        display: block;
        height: 2px;
        background-color: #2b343c;
        margin: 5px 0 0;
        transition: all .1s linear .23s;
        position: relative;
    }

    .filter-btn-menu span.first-span {
        margin-top: 0;
    }

    .hidden-filter-ticker:checked ~ .filter-btn-menu {
        left: 140px;
        background-color: #d4d6d7;
    }

    .hidden-filter-ticker:checked ~ .filter-position {
        left: 0;
    }
    .hidden-filter-ticker:checked ~ .filter-btn-menu span.first-span {
        -webkit-transform: rotate(45deg);
        top: 7px;
        background-color: #2b343c;
    }
    .hidden-filter-ticker:checked ~ .filter-btn-menu span.second-span {
        opacity: 0;
    }

    .hidden-filter-ticker:checked ~ .filter-btn-menu span.third-span {
        -webkit-transform: rotate(-45deg);
        top: -7px;
        background-color: #2b343c;
    }

    .search-row {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }

    .search input{
        min-width: 15em;
        margin-left: 20px;
    }

    .breadcrumbs {
        display: none;
    }

    .sort {
        padding: 10px 0;
    }

    .content {
        flex-basis: 100%;
        border-left: none;
    }

    .content-block {
        justify-content: center;
    }

}

@media only screen and (min-width: 481px) and (max-width: 767px) {

    .main-fixed {
        padding-top: 60px;
    }

    .filter-position {
        display: block;
        position: fixed;
        list-style:none;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        width: 170px;
        background-color: #d4d6d7;
        height: 100%;
        top: 50px;
        left: -170px;
        transition: left .2s;
        z-index: 2;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .hidden-filter-ticker {
        display: none;
    }

    .filter-btn-menu {
        color: #fff;
        background-color: #edeff0;
        padding: 2px;
        position: fixed;
        top: 60px;
        left: 5px;
        cursor: pointer;
        transition: left .23s;
        z-index: 3;
        width: 20px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .filter-btn-menu span {
        display: block;
        height: 2px;
        background-color: #2b343c;
        margin: 5px 0 0;
        transition: all .1s linear .23s;
        position: relative;
    }

    .filter-btn-menu span.first-span {
        margin-top: 0;
    }

    .hidden-filter-ticker:checked ~ .filter-btn-menu {
        left: 140px;
        background-color: #d4d6d7;
    }

    .hidden-filter-ticker:checked ~ .filter-position {
        left: 0;
    }
    .hidden-filter-ticker:checked ~ .filter-btn-menu span.first-span {
        -webkit-transform: rotate(45deg);
        top: 7px;
        background-color: #2b343c;
    }
    .hidden-filter-ticker:checked ~ .filter-btn-menu span.second-span {
        opacity: 0;
    }

    .hidden-filter-ticker:checked ~ .filter-btn-menu span.third-span {
        -webkit-transform: rotate(-45deg);
        top: -7px;
        background-color: #2b343c;
    }

    .search-row {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }

    .search input{
        min-width: 15em;
        margin-left: 20px;
    }

    .breadcrumbs {
        display: none;
    }

    .sort {
        padding: 10px 0;
    }

    .content {
        flex-basis: 100%;
        border-left: none;
    }

    .content-block {
        justify-content: center;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .search input{
        min-width: 10em;
        margin-left: 20px;
    }

    .search-row {
        padding: 0 0 10px 20px;
    }

}





































