<div class="movie-container">
    <input type="checkbox" id="filter" class="hidden-filter-ticker">
    <label class="filter-btn-menu" for="filter">
        <span class="first-span"></span>
        <span class="second-span"></span>
        <span class="third-span"></span>
    </label>
    <div class="filter-position">
        <div class="filter">
            <div class="filter-title">Choose filter:</div>
            <form ng-submit="movie.filterMovieByParam(filterForm)" ng-init="filterForm = {}">
                <fieldset class="filter-item">
                    <input class="input-tab" id="tab-one" type="radio" name="tabs">
                    <label class="label-tab" for="tab-one">Year</label>
                    <div class="tab-content">
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.year" value="2018">2018</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.year" value="2017">2017</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.year" value="2016">2016</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.year" value="2015">2015</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.year" value="2014">2014</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.year" value="2010-2013">2010-2013</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.year" value="2000-2010">2000-2010</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.year" value="1990-2000">1990-2000</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.year" value="old">Older</label>
                    </div>
                </fieldset>
                <fieldset class="filter-item">
                    <input class="input-tab" id="tab-two" type="radio" name="tabs">
                    <label class="label-tab" for="tab-two">Country</label>
                    <div class="tab-content">
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.country" value="USA">USA</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.country" value="France">France</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.country" value="China">China</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.country" value="New Zealand">New Zealand</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.country" value="UK">UK</label>
                    </div>
                </fieldset>
                <fieldset class="filter-item">
                    <input class="input-tab" id="tab-three" type="radio" name="tabs">
                    <label class="label-tab" for="tab-three">Language</label>
                    <div class="tab-content">
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.language" value="English">English</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.language" value="Japanese">Japanese</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.language" value="Spanish">Spanish</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.language" value="German">German</label>
                        <label class="filter-subitem"><input type="radio" ng-model="filterForm.language" value="Chinese">Chinese</label>
                    </div>
                </fieldset>
                <button class="filter-button" type="reset" ng-click="filterForm = {}">Reset</button>
                <button class="filter-button" type="submit">Filter</button>
            </form>
        </div>
    </div>
    <div class="content">
        <div class="search-row">
            <div class="search">
                <form ng-submit="movie.Search(searchPhrase)">
                    <input type="text" ng-model="searchPhrase" placeholder="Search movie">
                </form>
            </div>
            <div class="breadcrumbs"><a ui-sref="store({type: '{{movie.type}}', genre: 'all'})" ng-bind="movie.type | uppercase"></a> / <span ng-bind="movie.genre | uppercase"></span></div>
            <div class="sort">
                <div ng-click="movie.sortMovieByParam('popular')" class="tooltip">Popular
                    <span class="tooltip-text">Sort by popular</span>
                </div>
                <div ng-click="movie.sortMovieByParam('date')" class="tooltip">Last
                    <span class="tooltip-text">Last added</span>
                </div>
                <div ng-click="movie.getTopWatchlist()" class="tooltip">Top
                    <span class="tooltip-text">Top in watchlist</span>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="movie-block" ng-repeat="movies in movie.data">
                <p><img class="poster-img" ui-sref="movie({movie_id: movies._id})" ng-src="{{movies.Poster}}"></p>
                <div class="movie-text">
                    <div class="icon movie-like">777</div>
                    <div class="icon movie-download">555</div>
                </div>
                <div class="movie-title">
                    <a ng-bind="movies.Title" ui-sref="movie({movie_id: movies._id})"></a>
                    <p><span ng-bind="movies.Year"></span> | <span ng-bind="movies.Country"></span></p>
                </div>
            </div>
        </div>
        <div class="pagination" ng-if="movie.totalpages > 1">
            <button ng-disabled="movie.curentpage == 1" ng-click="movie.paginate(movie.curentpage = movie.curentpage -1)">&laquo; Previous</button>
            <p>{{movie.curentpage}} off {{movie.totalpages}}</p>
            <button ng-disabled="movie.curentpage == movie.totalpages" ng-click="movie.paginate(movie.curentpage = movie.curentpage +1)">Next &raquo;</button>
        </div>
    </div>
</div>