<div class="movie-container">
    <div class="filter-position">
        <div class="filter">
            <div class="filter-title">Choose filter:</div>
            <div >
                <ul>
                    <li class="filter-item">Ganre
                        <ul>
                            <li class="filter-subitem"><label><input type="checkbox">Advanture</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">Advanture</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">Advanture</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">Advanture</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">Advanture</label></li>
                        </ul>
                    </li>
                    <li class="filter-item">Year
                        <ul>
                            <li class="filter-subitem"><label><input type="checkbox">2017</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">2016</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">2015</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">2014</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">2010-2013</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">2000-2010</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">1990-2000</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">Older</label></li>
                        </ul>
                    </li>
                    <li class="filter-item">Country
                        <ul>
                            <li class="filter-subitem"><label><input type="checkbox">USA</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">France</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">Italy</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">Germany</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">Spain</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">Ukraine</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">Japan</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">India</label></li>
                            <li class="filter-subitem"><label><input type="checkbox">Australia</label></li>
                        </ul>
                    </li>
                </ul>
                <button class="filter-button">Filter</button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="search-row">
            <div class="search">
                <form ng-submit="movie.Search(searchPhrase)">
                    <input type="text" ng-model="searchPhrase" placeholder="Search movie">
                </form>
            </div>
            <div class="breadcrumbs"><ui-breadcrumbs displayname-property="data.displayName"></ui-breadcrumbs></div>

            <div class="sort">
                <div class="tooltip">Popular
                    <span class="tooltip-text">Sort by popular</span>
                </div>
                <div class="tooltip">Last
                    <span class="tooltip-text">Last added</span>
                </div>
                <div class="tooltip">Soon
                    <span class="tooltip-text">Soon in cinema</span>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="movie-block" ng-repeat="movies in movie.data">
                <p><img ng-src="{{movies.Poster}}" width="250" height="395"></p>
                <h4><a ng-bind="movies.Title" ui-sref="movie({movie_id: movies._id})"></a></h4>
                <p><span ng-bind="movies.Year"></span> | <span ng-bind="movies.Country"></span></p>
            </div>
        </div>
        <div class="pagination">
            <button ng-disabled="movie.curentpage == 1" ng-click="movie.getPreviousPage()">&laquo; Previous</button>
            <p>{{movie.curentpage}} from {{movie.totalpages}}</p>
            <button ng-disabled="movie.curentpage == movie.totalpages" ng-click="movie.getNextPage()">Next &raquo;</button>
        </div>
    </div>
</div>