@font-face {
    font-family: "AdobeGothicStd";
    url("../fonts/AdobeGothicStd-Bold.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: "Calibri";
    url("../fonts/calibri.ttf") format("truetype");
    font-style: normal;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

.wrapper {
    font-family: AdobeGothicStd, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Logo*/

.header-logo {
    padding: 30px 0 30px 50px;
}

/*Main menu*/

.header-menu li {
    display: inline-block;
    position: relative;
    border-right: 1px solid #a8aaaf;
    cursor: pointer;
    line-height: 30px;
}

.header-menu li:last-child {
    border-right: none;
}

.header-menu > li > a {
    position: relative;
    padding: 10px 15px 10px 5px;
    font-size: 17px;
    color: #3f444e;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.header-menu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
}

.header-menu_item{
    white-space: nowrap;
}

.header-menu .active{
    color: #d8232a;
}

.header-menu_item:before {
    content: '';
    margin: 0 3px;
    left: 0;
    top: 3px;
    position: relative;
    display: inline-block;
}

.item_movie:before {
    width: 24px; height: 18px;
    background: url("../img/css_sprites.png") -130px -250px;
}

.item_animation:before {
    width: 20px; height: 21px;
    background: url("../img/css_sprites.png") -130px -288px;
}

.item_documentary:before {
    width: 20px; height: 22px;
    background: url("../img/css_sprites.png") -188px -172px;
}

.item_tvshow:before {
    width: 20px; height: 19px;
    background: url("../img/css_sprites.png") -170px -288px;
}

.header-menu_submenu {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 100%;
    padding: 15px 0 15px;
    margin-top: 5px;
    background: #d8232a;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    /*transform: translate(-50%, 20px);*/
    transition: .4s;
}

.header-menu_submenu::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid;
    border-color: transparent transparent #d8232a transparent;
}

.header-menu_submenu li {
    display: block;
    line-height: 20px;
    border-right: none;
}

.header-menu > li:hover .header-menu_submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}
.header-menu_submenu a {
    padding: 10px;
    transition: .3s linear;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
}

.header-menu_submenu a:hover {
    color: #3f444e;
}
/*Login/register profile*/

.login, .register {
    font-size: 15px;
    font-weight: 700;
    padding: 0 10px 0 10px;
    float: left;
}

.login a, .register a {
     text-decoration: none;
     color: #3f444e;
 }

.login a:hover, .register a:hover {
    color: #d8232a;
}

.header-user .active{
    color: #d8232a;
}

/*User profile*/

.header-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

.header-user_icon {
    float: left;
}

.header-user_icon img{
    height: 25px;
    width: 25px;
}

.header-user_name {
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    padding: 0 10px 0 10px;
    float: left;
}

.logout {
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    padding: 0 10px 0 10px;
    cursor: pointer;
    float: left;
}

.logout:hover {
    color: #d8232a;
}

main{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #edeff0;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #3c3c3c;
}

.footer-menu {
    float: left;
    padding: 30px 0 30px 50px;
}

.footer-menu li{
    display: inline-block;
    padding-right: 10px;
}

.footer-menu a{
    color: #888;
    text-decoration: none;
}

.footer-menu a:hover{
    color: white;
}

.footer-logo{
    float: right;
    color: #888;
    padding-right: 50px;
}































