<div class="search-container">
    <div class="search-form">
        <form ng-submit="search.Find(searchPhrase)">
            <label>Find what you want:</label>
            <input class="search-input" type="text" ng-model="searchPhrase" placeholder="Search movie">
        </form>
    </div>
    <div class="search-block" ng-show="search.success">
        <div class="movie-block" ng-repeat="movies in search.data">
            <p><img class="poster-img" ui-sref="movie({movie_id: movies._id})" ng-src="{{movies.Poster}}"></p>
            <div class="movie-text">
                <div class="icon movie-like">777</div>
                <div class="icon movie-download">555</div>
            </div>
            <div class="movie-title">
                <a ng-bind="movies.Title" ui-sref="movie({movie_id: movies._id})"></a>
                <p><span ng-bind="movies.Year"></span> | <span ng-bind="movies.Country"></span></p>
            </div>
        </div>
    </div>
    <div class="search-message" ng-hide="search.success">
        <p ng-bind="search.message"></p>
    </div>
</div>