.search-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
}

.search-container form, .search-message{
    text-align: center;
}

.search-input {
    width: 100%;
    max-width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}