<div class="main-slider">
    <div class="slide fade">
        <img src="../assets/img/slider/slide1.jpg" alt="">
        <div class="slide_text">
            <div class="slide_info">Published <span>Feb 24, 2017</span></div>
            <div class="slide_info">Rating <span>8.5</span></div>
            <div class="elem_position slide_download">564</div>
            <div class="elem_position slide_comments">21</div>
            <div class="elem_position slide_like">2,548</div>
        </div>
        <button class="watch_now">Watch now</button>
    </div>
    <div class="slide fade">
        <img src="../assets/img/slider/slide2.jpg" alt="">
        <div class="slide_text">
            <div class="slide_info">Published <span>Feb 20, 2017</span></div>
            <div class="slide_info">Rating <span>7.1</span></div>
            <div class="elem_position slide_download">487</div>
            <div class="elem_position slide_comments">14</div>
            <div class="elem_position slide_like">7,364</div>
        </div>
        <button class="watch_now">Watch now</button>
    </div>
    <div class="slide fade">
        <img src="../assets/img/slider/slide3.jpg" alt="">
        <div class="slide_text">
            <div class="slide_info">Published <span>Feb 20, 2017</span></div>
            <div class="slide_info">Rating <span>7.1</span></div>
            <div class="elem_position slide_download">487</div>
            <div class="elem_position slide_comments">14</div>
            <div class="elem_position slide_like">7,364</div>
        </div>
        <button class="watch_now">Watch now</button>
    </div>
    <a class="prev" ng-click="main.plusSlides(-1)">&#10094;</a>
    <a class="next" ng-click="main.plusSlides(1)">&#10095;</a>
</div>
<div class="first-row">
    <h1>All the Movies You Need. Guaranteed.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa delectus, dicta ex impedit incidunt ipsam, iste labore nobis omnis placeat quidem unde vero! Aliquid consequatur est officia quo sed.</p>
</div>
<div class="partner-row">
    <div class="partner_1"></div>
    <div class="partner_2"></div>
    <div class="partner_3"></div>
    <div class="partner_4"></div>
    <div class="partner_5"></div>
</div>